<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/my-login.css">
</head>

{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

<!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Seoul Bike Company!</h1>
                <p class="lead">Seoul Bike attempted to make the rental bike available and accessible to the public in Seoul.
We are currently making an effort to provide the city with a stable supply of rental bikes :)</p>
                <a class="btn btn-lg btn-light" href="/dash_app">Start browsing data!</a>
            </div>
        </header>



        <!-- Footer-->
        <footer class="py-5 ">
            <div class="container px-4"><p class="m-0 text-center">Copyright &copy; SeoulBike 2022</p></div>
        </footer>
{% endblock %}

</html>
