<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/my-login.css">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" defer></script>
    <title>{{ title }}</title>
</head>
<body class="my-login-page">
<header class="container-fluid">
    <br>
    {% if current_user.is_authenticated %}
    {% include 'navbar.html' %}
    {% endif %}
</header>
<div id="flash-messages">
    {# Displays flashed messages on a page #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times; </span>
                </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<main>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>