{% extends 'blog_template.html' %}

{% block content %}
	<style>
		.tda {
			display: flex;
			justify-content: space-around;
			align-items: center;
			border: 1px solid;
			padding-bottom: 2%;
			padding-top: 2%;
		}
		.content {
			border: 1px solid;
			margin-top: 2%;
			min-height: 260px;
		}

		.stars {
			text-align: right;
		}
		.stars a {
			font-size: 35px;
			cursor: pointer;
		}
		.stars_high {
			color: deeppink;
		}
	</style>

	<section class="h-100">
		<div class="container h-100">
			<div class="tda">
				<div>Title: {{ blog.title }}</div>
				<div>Date: {{ blog.create_datetime|strf_datetime("%Y-%m-%d") }}</div>
				<div>Author: {{ blog.user_list.all()[0].email }}</div>
			</div>
			<div class="content">
				{{ blog.content }}
			</div>

			<div class="stars">
				{% for i in range(5) %}
					<a class="{% if blog.count > i %}stars_high{% endif %}" href="{{ url_for('auth.post_id',post_id=blog.id) }}?star_index={{ i+1 }}">☆</a>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}